<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.wx_app.dao.SWxAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.wx_app.model.SWxApp">
        <id column="id" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="app_name" property="appName" />
        <result column="app_qr" property="appQr" />
    </resultMap>

    <sql id="s_wx_app_alias_column">
        swa.id,swa.owner_id,swa.app_id,swa.app_secret,swa.app_name,swa.app_qr
    </sql>
    <select id="find" resultType="java.util.Map">
        select
        <include refid="s_wx_app_alias_column"/>
        from s_wx_app swa where true
        <if test="map.id != null and map.id !=''">
            swa.id = #{map.id}
        </if>
        <if test="map.ownerId != null and map.ownerId !=''">
            swa.owner_id = #{map.ownerId}
        </if>
    </select>

</mapper>
