<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.order.dao.TOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.order.model.TOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="source" property="source" />
        <result column="pickup_no" property="pickupNo" />
        <result column="pickup_time" property="pickupTime" />
        <result column="money_channel" property="moneyChannel" />
        <result column="order_money" property="orderMoney" />
        <result column="run_money" property="runMoney" />
        <result column="pay_money" property="payMoney" />
        <result column="pay_time" property="payTime" />
        <result column="pay_response" property="payResponse" />
        <result column="create_time" property="createTime" />
        <result column="creater" property="creater" />
        <result column="settlementer" property="settlementer" />
        <result column="owner_id" property="ownerId" />
        <result column="address_id" property="addressId" />
        <result column="goods_id" property="goodsId" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no , source, pickup_no , pickup_time , money_channel , order_money , run_money , pay_money , pay_time, pay_response , create_time , creater, settlementer, owner_id , address_id , goods_id , version, status, remark
    </sql>

    <sql id="Condition">

        <if test="id != null and id != ''">
            and id = #{id}
        </if>
        <if test="order_no != null and order_no != ''">
            and order_no = #{order_no}
        </if>
        <if test="version != null and version != ''">
            and version = #{version}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="owner_id != null and owner_id != ''">
            and owner_id = #{owner_id}
        </if>
        <if test="page != null">
            limit #{page},20
        </if>
        
    </sql>


    <select id="selectOrderListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_order where 1=1
         <include refid="Condition"></include>

    </select>


</mapper>
