<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.goods.dao.TGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.goods.model.TGoods">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="unit_id" property="unitId" />
        <result column="price" property="price" />
        <result column="pics" property="pics" />
        <result column="description" property="description" />
        <result column="created_time" property="createdTime" />
        <result column="creater" property="creater" />
        <result column="owner_id" property="ownerId" />
        <result column="status" property="status" />
        <result column="sells" property="sells" />
        <result column="sort" property="sort" />
        <result column="is_delete" property="isDelete" />
        <result column="source" property="source" />
        <result column="top_time" property="topTime" />
        <result column="is_promotion" property="isPromotion" />
        <result column="storage_id" property="storageId" />
        <result column="spec_id" property="specId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, category_id AS categoryId, name, code, unit_id AS unitId, price, pics, description, created_time AS createdTime, creater, owner_id AS ownerId, status, sells, sort, is_delete AS isDelete, source, top_time AS topTime, is_promotion AS isPromotion, storage_id AS storageId, spec_id AS specId
    </sql>
    <sql id="alias_columns">
        g.id,g.category_id,g.name,g.code,g.unit_id,g.price,g.pics,g.description,DATE_FORMAT(g.created_time,'%Y-%m-%d %H:%i:%s') created_time,g.creater,g.owner_id,g.status,g.sells,g.sort,g.is_delete,g.source,DATE_FORMAT(g.top_time,'%Y-%m-%d %H:%i:%s') top_time,g.is_promotion,g.storage_id,g.spec_id
        ,u.name measurement_unit
    </sql>
    <sql id="limit">
        limit #{page.size} offset #{page.offset}
    </sql>
    <sql id="findPageCondition">
        <if test="param.category != null and param.category != ''">
            and g.category_id = #{param.category}
        </if>
        <if test="param.name != null and param.name != ''">
            and g.name like CONCAT('%',#{param.name},'%')
        </if>
    </sql>

    <select id="findPage" resultType="java.util.Map">
        select
        <include refid="alias_columns"/>
        from t_goods g left join t_unit u on u.id = g.unit_id where g.owner_id = #{owner} and g.is_delete = 0 and  g.status = 1 and g.owner_id = #{owner}
        <include refid="findPageCondition"/>
        order by sort asc
        <include refid="limit"/>
    </select>
    <select id="findPageCount" resultType="long">
        select count(1) from t_goods g where g.is_delete = 0 and  g.status = 1 and g.owner_id = #{owner}
        <include refid="findPageCondition"/>
    </select>
    <select id="find" resultType="java.util.Map">
        select
        <include refid="alias_columns"/>
        from t_goods g left join t_unit u on u.id = g.unit_id where true
        <if test="map.id != null and map.id != ''">
        and g.id = #{map.id}
        </if>
    </select>

</mapper>
