<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.goods.dao.TRepositoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.goods.model.TRepository">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="pics" property="pics" />
        <result column="is_delete" property="isDelete" />
        <result column="owner_id" property="ownerId" />
        <result column="supplier_id" property="supplierId" />
        <result column="type" property="type" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id AS goodsId, pics, is_delete AS isDelete, owner_id AS ownerId, supplier_id AS supplierId, type, remark
    </sql>

</mapper>
