<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.goods.dao.TSpecsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.goods.model.TSpecs">
        <id column="id" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, owner_id AS ownerId, name, sort, is_delete AS isDelete
    </sql>

</mapper>
