<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.app_version.dao.TAppVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.app_version.model.TAppVersion">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="platform" property="platform" />
        <result column="version_main" property="versionMain" />
        <result column="version_secondary" property="versionSecondary" />
        <result column="version_bug" property="versionBug" />
        <result column="version" property="version" />
        <result column="is_force" property="isForce" />
        <result column="download_url" property="downloadUrl" />
        <result column="description" property="description" />
        <result column="created_time" property="createdTime" />
        <result column="creater" property="creater" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, platform, version_main AS versionMain, version_secondary AS versionSecondary, version_bug AS versionBug, version, is_force AS isForce, download_url AS downloadUrl, description, created_time AS createdTime, creater, update_time AS updateTime, updater
    </sql>
    <sql id="t_app_version_alias_columns">
        tav.code, tav.name, tav.platform, tav.version_main AS versionMain, tav.version_secondary AS versionSecondary, tav.version_bug AS versionBug, tav.version, tav.is_force AS isForce, tav.download_url AS downloadUrl, tav.description, tav.created_time AS createdTime, tav.creater, tav.update_time AS updateTime, tav.updater
    </sql>
    <select id="findMaps" resultType="java.util.Map">
        select
        id,
        <include refid="t_app_version_alias_columns"/>
        from t_app_version tav where true
        <if test="params.id != null and params.id != ''">
            and tav.id = #{params.id}
        </if>
        <if test="params.code != null and params.code != ''">
            and tav.code = #{params.code}
        </if>
        <if test="params.name != null and params.name != ''">
            and tav.name = #{params.name}
        </if>
        <if test="params.platform != null and params.platform != ''">
            and tav.platform = #{params.platform}
        </if>
        <if test="params.versionMain != null">
            and tav.version_main = #{params.versionMain}
        </if>
        <if test="params.versionSecondary != null">
            and tav.version_secondary = #{params.versionSecondary}
        </if>
        <if test="params.versionBug != null">
            and tav.version_bug = #{params.versionBug}
        </if>
        <if test="params.version != null and params.version != ''">
            and tav.version = #{params.version}
        </if>
        <if test="params.isForce != null">
            and tav.is_force = #{params.isForce}
        </if>
        <if test="params.downloadUrl != null and params.downloadUrl != ''">
            and tav.download_url = #{params.downloadUrl}
        </if>
        <if test="params.description != null and params.description != ''">
            and tav.description = #{params.description}
        </if>
        <if test="params.createdTime != null">
            and tav.created_time = #{params.createdTime}
        </if>
        <if test="params.creater != null and params.creater != ''">
            and tav.creater = #{params.creater}
        </if>
        <if test="params.updateTime != null">
            and tav.update_time = #{params.updateTime}
        </if>
        <if test="params.updater != null and params.updater != ''">
            and tav.updater = #{params.updater}
        </if>
    </select>
</mapper>
