<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.modular.system.dao.TQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.modular.system.model.TQuestion">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="owner" property="owner" />
        <result column="open_id" property="openId" />
        <result column="account_info" property="accountInfo" />
        <result column="system_info" property="systemInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, address, description, created_at AS createdAt, owner, open_id AS openId, account_info AS accountInfo, system_info AS systemInfo
    </sql>

</mapper>
