<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.device.dao.TDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.device.model.TDevice">
        <id column="id" property="id" />
        <result column="owner_id" property="ownerId" />
        <result column="mac" property="mac" />
        <result column="code" property="code" />
        <result column="model" property="model" />
        <result column="specs" property="specs" />
        <result column="create_time" property="createTime" />
        <result column="creater" property="creater" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
    </resultMap>

</mapper>
