<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.order_app.dao.TOrderAppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.order_app.model.TOrderApp">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="source" property="source" />
        <result column="money_channel" property="moneyChannel" />
        <result column="money" property="money" />
        <result column="money_pay" property="moneyPay" />
        <result column="money_real_income" property="moneyRealIncome" />
        <result column="money_change" property="moneyChange" />
        <result column="channel_pay" property="channelPay" />
        <result column="pay_time" property="payTime" />
        <result column="create_time" property="createTime" />
        <result column="settlementer" property="settlementer" />
        <result column="owner_id" property="ownerId" />
        <result column="goods_id" property="goodsId" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,no,source,money_channel,money,money_pay,money_real_income,money_change,channel_pay,pay_time,create_time,settlementer,owner_id,goods_id,status
    </sql>

    <select id="getAppOrderList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from t_order_app where 1=1
    <if test="id != null and id != ''">
        and id = #{id}
    </if>
    <if test="owner_id != null and owner_id != ''">
        and owner_id = #{owner_id}
    </if>
    <if test="page != null and page != ''">
        limit #{page},20
    </if>

    </select>

</mapper>
