<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="children" property="children" />
        <result column="description" property="description" />
        <result column="weights" property="weights" />
        <result column="cover" property="cover" />
        <result column="owner" property="owner" />
        <result column="is_delete" property="isDelete" />
        <result column="status" property="status" />
        <result column="is_system" property="isSystem" />
    </resultMap>
    <update id="updateSort" parameterType="list">
        UPDATE tbl_category
        SET
        status =
        CASE id
          <foreach collection="param.list" item="item">
              WHEN #{item.id} THEN #{item.status}
          </foreach>
        END,
        weights =
        CASE id
        <foreach collection="param.list" item="item">
            WHEN #{item.id} THEN #{item.weights}
        </foreach>
        END
        WHERE id IN
        <foreach collection="param.list" close=")" open="(" item="item" separator="," index="index">
            ${item.id}
        </foreach>
    </update>
    <select id="finalAll" resultType="com.soft.ware.rest.common.persistence.model.TblCategory">
        select * from tbl_category c where c.is_delete = 0 and c.owner = #{owner} order by weights desc
    </select>
</mapper>
