<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblGoodsStorageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblGoodsStorage">
        <id column="id" property="id" />
        <result column="owner" property="owner" />
        <result column="goods_id" property="goodsId" />
        <result column="single_price" property="singlePrice" />
        <result column="in_amount" property="inAmount" />
        <result column="before_storage" property="beforeStorage" />
        <result column="after_storage" property="afterStorage" />
        <result column="in_money" property="inMoney" />
        <result column="baseline" property="baseline" />
        <result column="before_baseline" property="beforeBaseline" />
        <result column="in_at" property="inAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

</mapper>
