<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblGoods">
        <id column="id" property="id" />
        <result column="category_id_" property="categoryId" />
        <result column="category_child_" property="categoryChild" />
        <result column="name_" property="name" />
        <result column="code_" property="code" />
        <result column="measurement_unit_" property="measurementUnit" />
        <result column="price_unit_" property="priceUnit" />
        <result column="pics_" property="pics" />
        <result column="description_" property="description" />
        <result column="specs_" property="specs" />
        <result column="baseline_" property="baseline" />
        <result column="stock_" property="stock" />
        <result column="created_at_" property="createdAt" />
        <result column="created_by_" property="createdBy" />
        <result column="owner_" property="owner" />
        <result column="status_" property="status" />
        <result column="sells_" property="sells" />
        <result column="sort_num_" property="sortNum" />
        <result column="is_delete_" property="isDelete" />
        <result column="source_" property="source" />
        <result column="top_time_" property="topTime" />
        <result column="is_promotion_" property="isPromotion" />
        <result column="promotion_price_" property="promotionPrice" />
        <result column="promotion_endtime_" property="promotionEndtime" />
    </resultMap>
    <sql id="limit">
        limit #{page.size} offset #{page.offset}
    </sql>
    <sql id="findPageCondition">
        <if test="param.category != null and param.category != ''">
            and g.category_id = #{param.category}
        </if>
        <if test="param.name != null and param.name != ''">
            and g.name like CONCAT('%',#{param.name},'%')
        </if>
    </sql>
    <select id="findPage" resultType="java.util.Map">
        select * from tbl_goods g where g.is_delete = 0 and  g.status = 1 and g.owner = #{owner}
        <include refid="findPageCondition"/>
        order by sort_num asc
        <include refid="limit"/>
    </select>
    <select id="findPageCount" resultType="long">
        select count(1) from tbl_goods g where g.is_delete = 0 and  g.status = 1 and g.owner = #{owner}
        <include refid="findPageCondition"/>
    </select>

</mapper>
