<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblGoods">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="category_child" property="categoryChild" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="measurement_unit" property="measurementUnit" />
        <result column="price_unit" property="priceUnit" />
        <result column="pics" property="pics" />
        <result column="description" property="description" />
        <result column="specs" property="specs" />
        <result column="baseline" property="baseline" />
        <result column="stock" property="stock" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="owner" property="owner" />
        <result column="status" property="status" />
        <result column="sells" property="sells" />
        <result column="sort_num" property="sortNum" />
        <result column="is_delete" property="isDelete" />
        <result column="source" property="source" />
        <result column="top_time" property="topTime" />
        <result column="is_promotion" property="isPromotion" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="promotion_endtime" property="promotionEndtime" />
    </resultMap>
    <sql id="limit">
        limit #{page.size} offset #{page.offset}
    </sql>
    <sql id="findPageCondition">
        <if test="param.category != null and param.category != ''">
            and g.category_id = #{param.category}
        </if>
        <if test="param.name != null and param.name != ''">
            and g.name like CONCAT('%',#{param.name},'%')
        </if>
    </sql>
    <select id="findPage" resultType="java.util.Map">
        select * from tbl_goods g where g.is_delete = 0 and  g.status = 1 and g.owner = #{owner}
        <include refid="findPageCondition"/>
        order by sort_num asc
        <include refid="limit"/>
    </select>
    <select id="findPageCount" resultType="long">
        select count(1) from tbl_goods g where g.is_delete = 0 and  g.status = 1 and g.owner = #{owner}
        <include refid="findPageCondition"/>
    </select>
    <select id="findListByIds" resultType="com.soft.ware.rest.common.persistence.model.TblGoods">
      select id, name, pics, measurement_unit, price_unit, status, is_promotion, promotion_price,
       ifnull(promotion_endtime>=current_date, 1) as promotion_in_progress from tbl_goods
       where is_delete = 0 and owner = #{user.owner} and id
       in
      <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </select>
</mapper>
