<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblOrder">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="source" property="source" />
        <result column="pickup_no" property="pickupNo" />
        <result column="pickup_time" property="pickupTime" />
        <result column="money_channel" property="moneyChannel" />
        <result column="money" property="money" />
        <result column="freight" property="freight" />
        <result column="pay_money" property="payMoney" />
        <result column="pay_at" property="payAt" />
        <result column="pay_response" property="payResponse" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="settlement_by" property="settlementBy" />
        <result column="owner" property="owner" />
        <result column="consignee_name" property="consigneeName" />
        <result column="consignee_mobile" property="consigneeMobile" />
        <result column="consignee_address" property="consigneeAddress" />
        <result column="goods" property="goods" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="confirm_by" property="confirmBy" />
        <result column="confirm_at" property="confirmAt" />
        <result column="distribution_at" property="distributionAt" />
        <result column="distribution_by" property="distributionBy" />
        <result column="done_at" property="doneAt" />
        <result column="done_by" property="doneBy" />
        <result column="cancel_at" property="cancelAt" />
        <result column="cancel_by" property="cancelBy" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="refund_at" property="refundAt" />
        <result column="refund_by" property="refundBy" />
        <result column="refund_money" property="refundMoney" />
        <result column="refund_reason" property="refundReason" />
        <result column="refund_status" property="refundStatus" />
        <result column="refund_response" property="refundResponse" />
    </resultMap>

    <sql id="findListCondition">
        <if test="source != null">
            and o.source in (#{source})
        </if>
        <if test="param.status != null">
            and o.status in (#{param.status})
        </if>
        <!--根据买家用户查询-->
        <if test="user.id != null">
            and o.created_by in (#{user.id})
        </if>
    </sql>
    <select id="findListCount" resultType="java.lang.Long">
        select count(1) from tbl_order o where o.owner = #{user.owner}
        <include refid="findListCondition"/>
    </select>
    <select id="findList" resultType="java.util.Map">
        select o.* from tbl_order o where  o.owner = #{user.owner}
        <include refid="findListCondition"/>
        order by pay_at desc
        <include refid="com.soft.ware.rest.common.persistence.dao.TblGoodsMapper.limit"/>
    </select>
    <select id="findByNo" resultType="com.soft.ware.rest.common.persistence.model.TblOrder">
        select o.* from tbl_order o where o.no = #{no} and o.owner = #{user.owner}
    </select>

    <update id="updateStatusByNo" parameterType="int">
        update table tbl_order o set o.status = #{status} where o.no = #{no} and o.owner = #{user.owner}
    </update>
    <update id="customerDelete">
      update tbl_order set status = -3 where owner = #{user.owner} and no = #{param.no} and created_by = #{user.id} and status in (-2, -1, 0, 3);
    </update>
    <update id="customerCancel">
		update tbl_order set status = -1, cancel_by = #{user.id}, cancel_at = now() where owner = #{user.owner} and no = #{param.no} and created_by = #{user.id}
    </update>

</mapper>
