<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblOwnerStaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblOwnerStaff">
        <id column="id" property="id" />
        <result column="owner" property="owner" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="createdAt" property="createdAt" />
        <result column="functionList" property="functionList" />
        <result column="urlList" property="urlList" />
        <result column="categoryList" property="categoryList" />
        <result column="status" property="status" />
    </resultMap>


    <select id="findStaffByPhone" resultType="com.soft.ware.rest.common.persistence.model.TblOwnerStaff">
      select * from tbl_owner_staff os where os.phone = #{phone}
    </select>
</mapper>
