<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblOrder">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="source" property="source" />
        <result column="pickup_no" property="pickupNo" />
        <result column="pickup_time" property="pickupTime" />
        <result column="money_channel" property="moneyChannel" />
        <result column="money" property="money" />
        <result column="freight" property="freight" />
        <result column="pay_money" property="payMoney" />
        <result column="pay_at" property="payAt" />
        <result column="pay_response" property="payResponse" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="settlement_by" property="settlementBy" />
        <result column="owner" property="owner" />
        <result column="consignee_name" property="consigneeName" />
        <result column="consignee_mobile" property="consigneeMobile" />
        <result column="consignee_address" property="consigneeAddress" />
        <result column="goods" property="goods" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="confirm_by" property="confirmBy" />
        <result column="confirm_at" property="confirmAt" />
        <result column="distribution_at" property="distributionAt" />
        <result column="distribution_by" property="distributionBy" />
        <result column="done_at" property="doneAt" />
        <result column="done_by" property="doneBy" />
        <result column="cancel_at" property="cancelAt" />
        <result column="cancel_by" property="cancelBy" />
        <result column="cancel_reason" property="cancelReason" />
        <result column="refund_at" property="refundAt" />
        <result column="refund_by" property="refundBy" />
        <result column="refund_money" property="refundMoney" />
        <result column="refund_reason" property="refundReason" />
        <result column="refund_status" property="refundStatus" />
        <result column="refund_response" property="refundResponse" />
    </resultMap>
    
    <sql id="Base_Column">
	    no,source,pickup_no,pickup_time,money_channel,money,freight,pay_money,
	    pay_at,pay_response,created_at,created_by,settlement_by,owner,consignee_name,
	    consignee_mobile,consignee_address,goods,status,remark,confirm_by,confirm_at,
	    distribution_at,distribution_by,done_at,done_by,cancel_at,cancel_by,cancel_reason,
	    refund_at,refund_by,refund_money,refund_reason,refund_status,refund_response
    </sql>

    <sql id="findListCondition">
        <if test="source != null">
            and o.source in
            <foreach collection="source" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="param.status != null">
            and o.status in
            <foreach collection="param.statusArray" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <!--根据买家用户查询-->
        <if test="user.openId != null">
            and o.created_by in (#{user.openId})
        </if>
    </sql>
    <select id="findListCount" resultType="java.lang.Long">
        select count(1) from tbl_order o where o.owner = #{user.owner}
        <include refid="findListCondition"/>
    </select>
    <select id="findList" resultType="java.util.Map">
        select o.* from tbl_order o where  o.owner = #{user.owner}
        <include refid="findListCondition"/>
        order by pay_at,created_at desc
        <include refid="com.soft.ware.rest.common.persistence.dao.TblGoodsMapper.limit"/>
    </select>
    <select id="findByNo" resultType="com.soft.ware.rest.common.persistence.model.TblOrder">
        select o.* from tbl_order o where o.no = #{no} and o.owner = #{user.owner} and o.created_by = #{user.openId}
    </select>

    <update id="updateStatusByNo" parameterType="int">
        update table tbl_order o set o.status = #{status} where o.no = #{no} and o.owner = #{user.owner}
    </update>
    <update id="customerDelete">
      update tbl_order set status = -3 where owner = #{user.owner} and no = #{param.no} and created_by = #{user.openId} and status in (-2, -1, 0, 3);
    </update>
    <update id="customerCancel">
		update tbl_order set status = -1, cancel_by = #{user.openId}, cancel_at = now() where owner = #{user.owner} and no = #{param.no} and created_by = #{user.id}
    </update>
    
    <select id="findOrderListByStatus" parameterType="map" resultMap="BaseResultMap">
         select <include refid="Base_Column"/> from tbl_order 
         where 1=1
         <if test="status !=null and status != ''">
         and status = #{status}
         </if> 
         <if test="owner != null and owner != ''">
         and owner = #{owner}
         </if>
         limit #{page},20
    </select>
    <sql id="findOwnerOrderListCondition">
      where a.owner = #{user.owner} and a.status in (${param.status})
    </sql>
    <select id="findOwnerOrderList" resultType="java.util.Map">
        select a.id, a.no, a.source, a.pickup_no, a.pickup_time, a.money_channel,
        a.money, a.freight, a.pay_money, a.created_at, a.settlement_by, a.goods, a.status, a.consignee_name, a.consignee_mobile,
        a.consignee_address, a.refund_status, a.cancel_by,b.no as diffNo, b.money as diffTicketMoney, b.pic as diffPic, b.money_diff
        as diffMoney, b.status as diffStatus, b.refund_status as diffRefundStatus
        from tbl_order a left outer join tbl_order_money_diff b
        on a.owner = b.owner and a.no = b.order_no
        <include refid="findOwnerOrderListCondition"/>
        order by a.created_at desc
        <include refid="com.soft.ware.rest.common.persistence.dao.TblGoodsMapper.limit"/>
    </select>
    <select id="findOwnerOrderListCount" resultType="long">
        select count(1)
        from tbl_order a
        <include refid="findOwnerOrderListCondition"/>
    </select>
    <select id="findOwnerOrder" resultType="java.util.Map">
        select a.no, a.source, a.pickup_no, a.pickup_time, a.money_channel, a.money, a.freight, a.pay_money, a.pay_at, a.created_at, a.settlement_by, a.consignee_name, a.consignee_mobile, a.consignee_address,
		a.goods, a.status, a.remark, a.confirm_by, a.confirm_at, a.distribution_by, a.distribution_at, a.done_by, a.done_at,
		a.cancel_by, a.cancel_at, a.cancel_reason, a.refund_by, a.refund_at, a.refund_money, a.refund_reason, a.refund_status, a.refund_response,
		b.no as diffNo, b.money as diffTicketMoney, b.pic as diffPic, b.money_diff as diffMoney, b.status as diffStatus, b.refund_by as diffRefundBy, b.refund_at as diffRefundAt, b.refund_status as diffRefundStatus, b.refund_response as diffRefundResponse
		from tbl_order a left outer join tbl_order_money_diff b on a.owner = b.owner and a.no = b.order_no
		where a.owner = #{user.owner} and a.no = #{no}
    </select>

</mapper>
