<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblOwnerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblOwner">
        <id column="id" property="id" />
        <result column="shopId" property="shopId" />
        <result column="shopSecret" property="shopSecret" />
        <result column="appId" property="appId" />
        <result column="appSecret" property="appSecret" />
        <result column="appName" property="appName" />
        <result column="appQr" property="appQr" />
        <result column="owner" property="owner" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="description" property="description" />
        <result column="videoUrl" property="videoUrl" />
        <result column="timeBegin" property="timeBegin" />
        <result column="timeEnd" property="timeEnd" />
        <result column="defaultDesc" property="defaultDesc" />
        <result column="defaultRefundReason" property="defaultRefundReason" />
        <result column="delivery" property="delivery" />
        <result column="deliveryMoney" property="deliveryMoney" />
        <result column="deliveryLessMoney" property="deliveryLessMoney" />
        <result column="deliveryGreatMoney" property="deliveryGreatMoney" />
        <result column="deliveryDistance" property="deliveryDistance" />
        <result column="reachPay" property="reachPay" />
        <result column="selfPickup" property="selfPickup" />
        <result column="orderPhone" property="orderPhone" />
        <result column="updatedAt" property="updatedAt" />
        <result column="updatedBy" property="updatedBy" />
        <result column="defaultFee" property="defaultFee" />
        <result column="defaultFeeDesc" property="defaultFeeDesc" />
    </resultMap>

    <select id="findOwnerByOwner" resultType="com.soft.ware.rest.common.persistence.model.TblOwner">
        select * from tbl_owner o where o.owner = #{owner}
    </select>
</mapper>
