<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.handover.dao.HandOverMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.handover.model.HandOver">
        <id column="id" property="id" />
        <result column="owner" property="owner" />
        <result column="user_phone" property="userPhone" />
        <result column="username" property="userName" />
        <result column="pospalcode" property="pospalcode" />
        <result column="sync_at" property="syncAt" />
        <result column="optionstart" property="optionStart" />
        <result column="optionat" property="optionaAt" />
        <result column="fistordertime" property="fistOrderTime" />
        <result column="lastordertime" property="lastOrderTime" />
        <result column="ordernum" property="orderNum" />
        <result column="ordertuinum" property="ordertuinum" />
        <result column="orderreturnnum" property="orderReturnNum" />
        <result column="allmoney" property="allMoney" />
        <result column="ordermoney" property="orderMoney" />
        <result column="money_shishou" property="moneyShishou" />
        <result column="zhaoling" property="zhaoLing" />
        <result column="membercz" property="membercz" />
        <result column="ordertuimoney" property="orderTuimoney" />
        <result column="orderreturnmoney" property="orderReturnMoney" />
        <result column="wxpay" property="wxpay" />
        <result column="wxpaynum" property="wxpayNum" />
        <result column="alipay" property="alipay" />
        <result column="alipaynum" property="alipayNum" />
        <result column="unionpay" property="orderPhone" />
        <result column="unionpaynum" property="unionPayNum" />
        <result column="moneypay" property="moneyPay" />
        <result column="moneypaynum" property="moneyPayNum" />
        <result column="moneymemberpay" property="moneyMemberPay" />
        <result column="memberpaynum" property="memberPayNum" />
    </resultMap>
    
    
    
</mapper>
