<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblOwnerTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblOwnerTemp">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="shop_secret" property="shopSecret" />
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="app_name" property="appName" />
        <result column="app_qr" property="appQr" />
        <result column="owner" property="owner" />
        <result column="acct_name" property="acctName" />
        <result column="acct_pwd" property="acctPwd" />
        <result column="company_name" property="companyName" />
        <result column="company_code" property="companyCode" />
        <result column="company_license" property="companyLicense" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="mailbox" property="mailbox" />
        <result column="refund_cert" property="refundCert" />
        <result column="tmpl" property="tmpl" />
        <result column="created_at" property="createdAt" />
        <result column="status01" property="status01" />
        <result column="status02" property="status02" />
        <result column="passed_by01" property="passedBy01" />
        <result column="passed_at01" property="passedAt01" />
        <result column="passed_by02" property="passedBy02" />
        <result column="passed_at02" property="passedAt02" />
        <result column="refused_by01" property="refusedBy01" />
        <result column="refused_at01" property="refusedAt01" />
        <result column="refused_reason01" property="refusedReason01" />
        <result column="refused_by02" property="refusedBy02" />
        <result column="refused_at02" property="refusedAt02" />
        <result column="refused_reason02" property="refusedReason02" />
        <result column="owner_is_valid" property="ownerIsValid" />
    </resultMap>

</mapper>
