<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.common.persistence.dao.TblRepositoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.common.persistence.model.TblRepository">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="measurement" property="measurement" />
        <result column="pics" property="pics" />
        <result column="manufacturer" property="manufacturer" />
        <result column="is_delete" property="isDelete" />
        <result column="created_at" property="createdAt" />
    </resultMap>
    
    <sql id="Base_Column">
         name,code,measurement,pics,manufacturer,is_delete,created_at
    </sql>
    <select id="getGoodsRepositoryByCode" parameterType="map" resultMap="BaseResultMap">
      select <include refid="Base_Column"/> from tbl_repository where 1=1
      <if test="code != null and code != ''">
          and code = #{code}
      </if>
    
    </select>

</mapper>
