<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.ware.rest.modular.banner.dao.TBannerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft.ware.rest.modular.banner.model.TBanner">
        <id column="id" property="id" />
        <result column="poster" property="poster" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="type" property="type" />
        <result column="target" property="target" />
        <result column="status" property="status" />
        <result column="owner_id" property="ownerId" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
